/* ==UserStyle==
@name           DiscordAddonPack Alt
@namespace      github.com/TheRealGWJosh
@version        2021.1.3
@description    Adds a New look to Discord
@author         TheRealGWJosh#0001
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/CSS-UserCSS-Themes
@supportURL     https://github.com/TheRealGWJosh/CSS-UserCSS-Themes/issues
==/UserStyle== */
@-moz-document domain("discord.com") {
	@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
	@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');
	@import url("https://monstrousdev.github.io/themes/addons/userSettingsModal.css");
	@import url("https://discordstyles.github.io/RadialStatus/base.css");
	@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
	@import url("https://devinkid1.github.io/Pop/base.css");
	@import url("https://nyri4.github.io/Discolored/main.css");
	@import url("https://landidev.github.io/crearts-discord/Addons/blur-details");
	@import url("https://landidev.github.io/crearts-discord/Animated/home-button.css");
	@import url("https://landidev.github.io/crearts-discord/Animated/avatar-hover.css");
	@import url("https://landidev.github.io/crearts-discord/Animated/icons-hover.css");
	@import url("https://landidev.github.io/crearts-discord/Animated/card-hover.css");
	@import url("https://landidev.github.io/crearts-discord/Removed/edited.css");
	@import url("https://landidev.github.io/crearts-discord/Removed/nitro-home.css");
	@import url("https://landidev.github.io/crearts-discord/Removed/chat-header.css");
	@import url("https://landidev.github.io/crearts-discord/Removed/gif-nitro-chat.css");
	@import url("https://landidev.github.io/crearts-discord/Removed/closed-folder-background.css");
	@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);
	@import "https://nyri4.github.io/Comfy/main.css";

.customEmojiPlaceholder-37iZ_j { background-image: url("https://discord.com/assets/66f6c781fe86c346fbaf3390618668fc.svg") !important;}
.navList-2UtuhC > #sticker-picker-tab  > .navButton-2gQCx-:after { background-image:url("https://images-ext-2.discordapp.net/external/HbBmA4gs0tavZMLCDG6n55xeLkI2HTlpg7Qt3_YzTKs/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/stickers.png") !important;}
.navList-2UtuhC > #emoji-picker-tab  > .navButton-2gQCx-:after { background-image:url("https://discord.com/assets/66f6c781fe86c346fbaf3390618668fc.svg") !important;}
.topSectionNormal-2-vo2m > div > div:first-of-type:not(.activity-1ythUs) .tabBar-2MuP6-::after  { background: url('https://images-ext-2.discordapp.net/external/9nZmISmmd-jVLo44Qv6wCohHYnSDJz_dq0RV2pZrXfQ/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/bonfire.gif') center no-repeat; background-size: 25% !important;}
[aria-controls="USER_INFO-tab"]:after { background-image:url("https://images-ext-1.discordapp.net/external/PsJ_-CCyxZnv1Tdsr6C8juWDkb7RCc6dREpwijtXu6E/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/user.png") !important;}
[aria-controls="MUTUAL_GUILDS-tab"]:after { background-image: url("https://images-ext-1.discordapp.net/external/YdgRbc6Hs3ee9ehv5jSyri7Ce6nB2IX5P5U1hSQ7pas/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/guild.png") !important;}
[aria-controls="MUTUAL_FRIENDS-tab"]:after { background-image:url("https://images-ext-1.discordapp.net/external/q2GDnIwCktkquekMt4m7tgo5kw-EsIcMesdfN41oCCI/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/friend.png") !important;}
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"] { content: url('https://images-ext-2.discordapp.net/external/9nZmISmmd-jVLo44Qv6wCohHYnSDJz_dq0RV2pZrXfQ/%3Fraw%3Dtrue/https/github.com/NYRI4/Comfy/blob/master/assets/bonfire.gif') !important;}

/* No scrollbars --> Delete all until "Mention color" if you don't want it */
::-webkit-scrollbar { display: none !important;}.note-3HfJZ5 { margin-right: 0; }.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}

/* Comfy Spotify version -> Delete until Spotify if you don't want it */
.container-6sXIoE{position: fixed;transition: left 0.5s;bottom: 62px;left: -196px;z-index: 3;width: 265px;background: var(--background-secondary-alt);border-radius: 0 5px 5px 0;border-bottom: none !important;}.barText-lmqc5O { display: none !important;}.container-6sXIoE > .inner-WRV6k5 { flex-direction: row-reverse;}.inner-WRV6k5 > .flex-1xMQg5 > .button-14-BFJ { margin: 0;}.container-6sXIoE:hover { left: 0px;}

/* Better Spotify seek bar */
.bar-g2ZMIm {position: absolute !important;left: -2px !important;bottom: -4px !important;width: 267px !important;height: 58px !important;-webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);mask-image: linear-gradient(0.25turn, #0009, #0003);}.maximized-vv2Wr0 > .timeline-UWmgAx > .bar-g2ZMIm { height: 84px !important; }.barFill-Dhkah7, .timeline-UWmgAx:hover .barFill-Dhkah7 { background: var(--spotify-color) !important;}.inner-WRV6k5 { z-index: 1 !important;}.grabber-7sd5f5 { display: none !important;}.button-14-BFJ:hover { background: none !important;}.container-6sXIoE:not(.maximized-vv2Wr0) > .inner-WRV6k5 > .coverWrapper-YAplwJ { margin-right: 1px !important; margin-left:25px !important;width: 40px !important;height: 40px !important;}

/* User popout animation - Delete until "Others settings" if you don't want it */
.headerPlaying-j0WQBV.header-2BwW8b, .headerSpotify-zpWxgT.header-2BwW8b, .headerStreaming-2FjmGz.header-2BwW8b, .headerXbox-3G-4PF.header-2BwW8b { padding-bottom: 30px;}
.headerPlaying-j0WQBV.header-2BwW8b:after, .headerSpotify-zpWxgT.header-2BwW8b:after, .headerStreaming-2FjmGz.header-2BwW8b:after, .headerXbox-3G-4PF.header-2BwW8b:after { background: url('https://nyri4.github.io/Comfy/assets/wave.png'); background-size: 250px 20px; animation: animate 6s linear infinite !important; opacity: 1 !important;}
.header-2BwW8b:after, .headerPlaying-j0WQBV:before, .headerSpotify-zpWxgT:before, .headerStreaming-2FjmGz:before, .headerXbox-3G-4PF:before { 
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 250px;
    height: 20px;
    z-index: -1;
    animation: animate2 6s linear infinite;
    animation-delay: 0s;
    opacity: 0.5;
}
.headerPlaying-j0WQBV:before { background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png'); background-size: 250px 20px;}
.headerSpotify-zpWxgT:before { background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png'); background-size: 250px 20px;}
.headerStreaming-2FjmGz:before { background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png'); background-size: 250px 20px;}
.headerXbox-3G-4PF:before { background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png'); background-size: 250px 20px;}
@keyframes animate { 0% { background-position-x: 0;} 100% { background-position-x: 250px;}}
@keyframes animate2 {0% { background-position-x: 250px; } 100% { background-position-x: 0px;}}

.header-QKLPzZ {     
    width: 200px;      
    background: var(--background-secondary);     
    margin: 10px 10px 0px 10px;
}

:root {

--avatar-radius: 50%; /* Avatar roundess - You can't use it if you deleted the 2 lines of Avatar mask */

/* Avatar width in modals */
--avatar-width: 130px;

/* Server roundess */
--server-radius: 8px;

/* Colored emoji picker */
--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */

/* -- Others settings -- */

/* Mention color */
--mention-color-bar: var(--maincolor-p1);
--mention-color-background: #87dfdf1f;
--mention-color-hover: #87dfdf26;

/* Spotify seek bar color */
--spotify-color: #09c00f !important;

/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: var(--maincolor-p1);

/* Chat buttons color */
--chat-buttons: var(--maincolor-p1);

/* Circles next to role names */
--role-circle: 0px; /* Set it to "0px" if you don't want circles */

/* Tooltips */
--tooltips: none; /* Set it to "none" if you don't want it */

/* Discord logo */
--discord-logo: block; /* Set it to "block" if you want it */

}
 
.theme-dark {
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --channeltextarea-background: #191f2e;
    --background-accent: var(--maincolor-p1);
    --background-modifier-hover: #1c2030;
    --background-modifier-active: #1a1e2e;
    --background-modifier-selected: #191f2e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --spotify-color: #09c00f;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
}
 
.theme-light { /* I don't support light theme it's just for the "Create a server" popup */
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

	:root { 
        --lg-1: 315deg,#87dfdf 0%,#6a23d3 74%;
        /* Main Color */
		--maincolor-p1: #87dfdf;
		--maincolor-1: 132, 234, 245;
		--maincolor-c1: rgba(132, 234, 245, .57);
		--maincolor-t1: rgba(132, 234, 245, .6);
		--maincolor-ts1: rgba(132, 234, 245, .53);
		--maincolor-tt1: rgba(132, 234, 245, .67);
		--maincolor-ttt1: rgba(132, 234, 245, .65);
		--maincolor-tttt1: rgba(132, 234, 245, .64);

		/* Secondary Color */
		--maincolor-p2: #6a23d3;
		--maincolor-2: 106, 35, 211;

		/* User Status Colors */
		--rs-idle-color: #b06e09
		!important;
		--rs-dnd-color: #690101
		!important;
		--rs-offline-color:  #ffffff
		!important;
		--rs-streaming-color: #31106a
		!important;
		/* How Round The PFP is 50% = Circle 0% = Square */
		--avatarradius: 50%;
		/* Gradients Colors */
		--special-gradient: var(--gradient-direction-2),
		#8980F0 0%,
		#D577F0 74%;
		--red-gradient: var(--gradient-direction-2),
		#AA3738 0%,
		#F04747 74%;
		--yellow-gradient: var(--gradient-direction-2),
		#C2831B 0%,
		#FFB740 74%;
		--green-gradient: var(--gradient-direction-2),
		#264D41 0%,
		#43B581 74%;
		--grey-gradient: var(--gradient-direction-2),
		#373A45 0%,
		#747F8D 74%;
		--white-gradient: var(--gradient-direction-2),
		rgba(255,
		255,
		255,
		0.2) 0%,
		rgba(255,
		255,
		255,
		0) 74%;

		/* Warning */
		/* Don't Mess With Unless You Know What Your Doing */
		--rs-small-spacing: 0px;
		--rs-large-spacing: 0px;
		--rs-width: 2.5px;
		--accentcolor: var(--maincolor-1);
		--link-colour: var(--maincolor-2);
		--linkcolor: var(--maincolor-2);
		--rs-avatar-shape: var(--avatarradius);
		--avatar-radius: var(--avatarradius);
		--rs-online-color: var(--maincolor-p1);
		--rs-invisible-color: var(--maincolor-1);
		/* Gradients */
		--default-gradient: var(--lg-1);
		--gradient-direction: 180deg;
		--gradient-direction-2: 315deg;
		/* Hover Scale */
		--HoverScale: 1.025;
		/* Transition Time */
		--TransitionTime: 0.25s;
		/* Ease Type */
		--EaseType: cubic-bezier(0,
		0.75,
		0,
		1.75);
		/* Transitions */
		--font-normal: 500;
		--font-hover: bold;
		--font-size-hover: 15px;
		--hover-transition: 0.1s linear;
		--transform-normal: scale(1);
		--hover-transform: scale(1.15);
		--setting-hover-transform: scale(1.025);
		--button-hover-transform: scale(1.03);
		--bg-rounding: 0 0px 0px 0;
		--border-info: 2px solid;
		--background-message-hover: transparent;
		--unread-badge: var(--maincolor-1);
		--unread-bg: var(--maincolor-t1);
		--selected-badge: var(--maincolor-1);
		--selected-bg: var(--maincolor-tt1);
		--selected-bg-hover: var(--maincolor-ttt1);
		--hovered-bg: var(--maincolor-tttt1);
		/* Don't Mess With Unless You Know What Your Doing */
	}

	.channelTextArea-rNsIhG {
		margin-bottom: 0 ;
	}
	.form-2fGMdU {
		padding: 0 ;
	}
	.inner-MADQqc {
		padding-top: 6px ;
	}

	.base-gE7OpD {
		/* typing and slowmode stuff */
		top: -24px ;
		/* height is 24px */
		background-color: var(--background-primary) !important;
	}

	.scrollableContainer-2NUZem {
		border-radius: 0px ;
		min-height: 70px ;
	}


	.username-1A8OIy,
	.headerName-fajvi9,
	.usernameFont-23TX-h,
	.headerNameWrapper-3res2c {
		font-weight: 1000 !important;
		transition: filter .3s ease-in-out .3s;
		filter: brightness(0) invert(1);
		text-shadow: 0px 0px 5px;
	}

	.username-1A8OIy:hover,
	.headerName-fajvi9:hover,
	.usernameFont-23TX-h:hover,
	.headerNameWrapper-3res2c:hover {
		filter: brightness(1) invert(0) !important;
	}
	/* setting button spinning */
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.button-14-BFJ[aria-label="User Settings"]:hover svg {
		animation: spin 2s linear infinite;
	}
	.sidebar-2K8pFh {
		border-bottom-left-radius: 8px;
	}
	.sidebar-CFHs9e {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.sidebarRegion-VFTUkN {
		flex: 0 0 auto;
	}
	.contentColumn-2hrIYH,
	.customColumn-Rb6toI {
		max-width: unset;
	}
	.sidebarRegion-VFTUkN {
		margin: 10px;
		border-radius: 8px;
	}
	.overlay-4k_Q4- {
		border-radius: 40px;
	}
	.avatarUploaderIndicator-2G-aIZ {
		display: none;
	}
	.avatarUploaderInner-2EvNMg {
		border-radius: 8px;
	}

	.sidebarRegionScroller-3MXcoP {
		border-radius: 8px;
	}
	.contentColumn-2hrIYH {
		padding: 10px;
	}
	.contentRegion-3nDuYy {
		margin: 10px;
	}
	.contentRegionScroller-26nc1e,
	.contentTransitionWrap-3hqOEW,
	.contentRegion-3nDuYy {
		border-radius: 8px;
	}

	.standardSidebarView-3F1I7i {
		background: var(--background-secondary-alt);
	}
	.toolsContainer-1edPuj {
		margin-right: 5px!important;
		padding-top: 10px!important;
	}




	#app-mount .profileBadge-2niAfJ.profileBadgeHypesquad-12E2P6 {
		background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse1-3rBtjf {
		background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse2-2oU04B {
		background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse3-1DoJkv {
		background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel1-dbEzVz {
		background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel2-3TUciC {
		background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeEarlySupporter-2ng_jL {
		background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgePremium-1KDZYC {
		background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl1-3oI9tx {
		background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl2-r6nJHT {
		background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl3-38s3Dj {
		background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl4-2NXrsI {
		background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl5-3XIa2K {
		background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl6-3e3sxW {
		background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl7-1dVhQT {
		background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl8-1kXdFr {
		background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl9-1d6zav {
		background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeStaff-3BXdTO {
		background-image: url(/assets/4358ad1fb423b346324516453750f569.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgePartner-j6Lwhr {
		background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeVerifiedDeveloper-195KfD {
		background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg);}

	.inline-2bgipb.hiddenSpoilers-1ksnR6 {
		visibility: visible;
	}
	.inline-2bgipb.hiddenSpoilers-1ksnR6 img {
		filter: blur(3rem);
	}
	.inline-2bgipb.hiddenSpoilers-1ksnR6::after {
		content: "SPOILER";
		color: var(--text-normal);
		display: block;
		text-align: center;
		top: calc(50% - 0.5rem);
		position: absolute;
		width: 100%;
		font-weight: bold;
	}
	.search-36MZv- {
		order: -1;
	}
	.searchBar-3dMhjb {
		width: 28px;
		transition: width 0.6s ease-in-out;
		color: #fff;
		background: none;
	}
	.focused-31_ccS .searchBar-3dMhjb,
	.open-6_Y_aH .searchBar-3dMhjb,
	.searchBar-3dMhjb:hover {
		width: 240px;
		background: var(--background-tertiary);
	}
	.icon-3cZ1F_ {
		height: 24px;
		width: 24px;
		color: var(--interactive-normal);
	}
	.iconContainer-O4O2CN {
		bottom: 3px;
	}
	.search-36MZv- {
		margin-left: 0px;
	}


	/* -- Repairing the damages -- */
	/* Emote information popup */
	.emojiSection-3Fb9ix > .flex-1xMQg5,
	.popoutContainer-1MXdqN > .flex-1xMQg5 {
		flex-direction: column;
		align-items: center;
	}
	.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5,
	.popoutContainer-1MXdqN > .flex-1xMQg5 > .flex-1xMQg5 {
		margin-left: 0px;
	}
	.primaryEmoji-3LinDq {
		margin: 0px 0px 12px 0;
	}
	.popoutContainer-1MXdqN {
		width: auto;
	}

	/* Server Boost */
	.ctaBar-2UsjF2 {
		margin: auto;
	}

	[aria-label="Servers"] div img {
		filter: blur(3px);
		border-radius: 50px;
		transition: all 0.5s ease-in-out;
	}
	[aria-label="Servers"] div:hover img,
	div.selected img {
		filter: none
	}
	.base-1pYU8j {
		transition: all 0.5s;
	}
	.base-1pYU8j:hover {
		transition: all 0s;
		transform: scale(1.02);
	}
	.tip-2cgoli,
	.tipTitle-GL9qAt {
		font-size: 0px!important;
	}
	.tip-2cgoli .keybind-2jbzrT {
		display: none;
	}
	.tipTitle-GL9qAt::after {
		font-size: 16px;
		content: "Discord Is Cool"
	}
	.tip-2cgoli::after {
		font-size: 16px;
		content: 'Themes Make It Better';
	}
	[aria-label="Download Apps"] {
		display: none;
	}
	/*CustomKickText*/
	#user-context-kick .label-22pbtT {
		margin-left: 3px
	}
	#user-context-kick:before {
		position: absolute;
		content: "Yeet";
		background: var(--background-floating);
	}
	#user-context-kick.focused-3afm-j:before {
		background: #f04747
	}
	/*CustomKickText*/
	.reactions-12N0jA .reaction-1hd86g {
		border-radius: 15px !important;
	}
	/*-------Account Information Blur-------*/
	.colorHeaderPrimary-26Jzh- {
		filter: blur(5px);
		transition: 300ms;
	}
	.colorHeaderPrimary-26Jzh-:hover {
		filter: none;
	}
	/*-----------------------------------------*/
	/*-----Check box/circle thingy mabob when uploading files-----*/
	.checkbox-1ix_J3.checked-3_4uQ9[style*="border-color: rgb(114, 137, 218)"] {
		background-color: var(--main-color) !important;
		/*adds background color to "Mark as spoiler" check box/circle when checked*/
	}
	/*------------------------------------------------------------*/
	/*-------Blur spoiler-------*/
	/*blurs spoiler text instead of having a black bar over it*/
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9,
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover,
	.contents-2mQqc9 .spoilerText-3p6IlD {
		background: rgb(130, 130, 130, 0.1);
		/*adds minor grey-ish filter to differentiate spoilted text from normal text*/
		border-radius: 7px;
		/*adds rounded edges for the filter described above*/
	}
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9 > .inlineContent-3ZjPuv {
		filter: blur(3px);
		/*adds blur filter when text is left alone*/
		opacity: 1;
		/*makes blurred text fully opaque*/
	}
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover > .inlineContent-3ZjPuv {
		filter: none;
		/*removes blur filter on hover*/
		opacity: 1;
		/*makes text opacity look like normal, non-spoiled text on hover*/
	}
	/*--------------------------*/
	/*-----Connections-----*/
	.connection-1fbD7X,
	.connectionHeader-2MDqhu {
		background-color: rgb(130, 130, 130, 0.1);
		/*makes the background for each acc connection partially transparent*/
	}
	/*---------------------*/
	.folder-21wGz3 {
		filter: blur(2px);
		border-radius: 25px;
	}
	.folder-21wGz3:hover {
		filter: blur(0px);
		border-radius: 25px;
	}
	/*------Call Dock------*/
	.wrapper-3EGhDO {
		background-color: var(--background-secondary);
		border-radius: 25px;
		padding: 0px;
	}
	.colorable-1bkp8v.white-3GPOIp,
	.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
		color: currentColor;
	}
	.colorable-1bkp8v.primary-3NQg8g,
	.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS,
	.colorable-1bkp8v.primary-3NQg8g:hover,
	.colorable-1bkp8v.white-3GPOIp,
	.centerButton-3CaNcJ,
	.colorable-1bkp8v.white-3GPOIp.active-1QRrIS,
	.colorable-1bkp8v.white-3GPOIp:hover,
	.colorable-1bkp8v.red-33-Lnk {
		background: none !important;
	}
	/*---------------------*/
	/*-------Plus Button Popout when Listening to Spotify--------*/
	.popout-2iWAc- {
		background-color: rgb(0, 0, 0);
		/*sets background color to black. might wanna change to white depending on theme*/
		/*affects the background color for customized status dropdown as well*/
	}
	.attachPopoutRowText-2R5RC2 {
		color: var(--main-color);
		/*text color for options listed*/
	}
	/*-------------------------------------------------------------*/
	/*----------Button separators----------*/
	.container-3baos1 > .flex-1O1GKY > :nth-child(n + 2):before,
	.container-1giJp5 > .flex-1O1GKY > :nth-child(n + 2):before {
		display: none;
		/*removes the thin lines between icons*/
	}
	/*-------------------------------------*/
	/*------Option Boxes in Settings Pages------*/
	/*Check Box/Circle*/
	.cardPrimaryEditable-3KtE4g .checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9,
	.theme-dark .checkbox-1ix_J3 {
		border-radius: 15px;
		/*Turns the pretty much all check boxes in existence into a check circle (yes, even outside the settings page)*/
	}
	.theme-dark .checked-3_4uQ9 {
		border-color: transparent !important;
		/*Removes the border of the check circle (or box) when selected in
  Safe Direct Messaging*/
	}

	/*Selection Box*/
	.theme-dark .card-3Qj_Yx {
		border-radius: 21px;
		/*makes the boxes more rounded on the edges. max roundess: 21px*/
	}
	/*------------------------------------------*/
	/*-------Follow Channels Modal-------*/
	/*Drop Down Menu*/
	.css-3vaxre-menu {
		background-color: rgb(0, 0, 0);
		/*makes the dropdown menu background black and thus the text easier to read*/
		/*might want to change depending on theme*/
		border-color: transparent;
		/*gets rid of the border*/
		border-radius: 15px;
		/*just in case you want a border, it looks nice and rounded*/
	}


	/*Send To & Select Channel Boxes*/
	/*No Selection*/
	.css-gvi9bl-control {
		border-color: rgba(var(--main-color-numerical), 0.6);
		border-radius: 15px;
		/*Not hovering*/
	}
	.css-gvi9bl-control:hover {
		border-color: var(--main-color);
		/*Hovering*/
	}

	/*No Drop Down Menu*/
	.css-17e1tep-control:hover {
		border-color: var(--main-color);
		border-radius: 15px;
	}
	.css-17e1tep-control {
		border-radius: 15px;
		border-color: rgba(var(--main-color-numerical), 0.6);
	}

	/*Drop Down Menu*/
	.css-6fzn47-control {
		border-radius: 15px;
		border-color: rgba(var(--main-color-numerical), 0.6);
	}
	.css-6fzn47-control:hover {
		border-color: var(--main-color);
		border-radius: 15px;
	}
	/*-------------------------------------------------*/
	#app-mount .content-1x5b-n,
	#app-mount .channel-2QD9_O .layout-2DM8Md {
		background: none;
	}
	#app-mount .modeSelected-346R90::before,
	#app-mount .modeUnread-1qO3K1::before {
		content: "";
		position: absolute;
		height: 34px;
		top: 0;
	}
	#app-mount .channel-2QD9_O.selected-aXhQR6::before {
		content: "";
		position: absolute;
		height: 44px;
		top: 0;
	}
	#app-mount .modeSelected-346R90,
	#app-mount .channel-2QD9_O.selected-aXhQR6 {
		background: var(--selected-bg);
		border-radius: var(--bg-rounding);
	}
	#app-mount .modeSelected-346R90:hover,
	#app-mount .channel-2QD9_O.selected-aXhQR6:hover {
		background: var(--selected-bg-hover);
	}
	#app-mount .modeSelected-346R90::before,
	#app-mount .channel-2QD9_O.selected-aXhQR6::before {
		border-left: var(--border-info) var(--selected-badge);
	}
	#app-mount .unread-2lAfLh {
		display: none;
	}
	#app-mount .modeUnread-1qO3K1 {
		background: var(--unread-bg);
		border-radius: var(--bg-rounding);
	}
	#app-mount .modeUnread-1qO3K1::before {
		border-left: var(--border-info) var(--unread-badge);
	}
	#app-mount .modeUnread-1qO3K1:hover,
	#app-mount .wrapper-2jXpOf:not(.modeSelected-346R90):hover,
	#app-mount .channel-2QD9_O.container-2Pjhx-:not(.selected-aXhQR6):hover {
		background: var(--hovered-bg);
		border-radius: var(--bg-rounding);
	}
	#app-mount .channel-2QD9_O.container-2Pjhx- {
		margin-left: 0;
		max-width: 235px;
	}
	#app-mount .channel-2QD9_O.container-2Pjhx- div .avatar-3uk_u9 {
		margin-left: 5px;
	}

	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume) {
		font-weight: var(--font-normal);
		transition: var(--hover-transition);
	}
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume).focused-3afm-j,
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume):active {
		font-size: var(--font-size-hover);
		font-weight: var(--font-hover);
		background: linear-gradient(var(--default-gradient));
	}
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume).focused-3afm-j.colorPremium-p4p7qO,
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume):active.colorPremium-p4p7qO {
		background: linear-gradient(var(--special-gradient));
	}
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume).focused-3afm-j.colorDanger-2qLCe1,
	#app-mount .menu-3sdvDG .item-1tOPte:not(#user-context-user-volume):active.colorDanger-2qLCe1 {
		background: linear-gradient(var(--red-gradient));
	}

	#app-mount .wrapper-2aW0bm .button-1ZiXG9 img,
	#app-mount .wrapper-2aW0bm .button-1ZiXG9 svg {
		transform: var(--transform-normal);
		transition: var(--hover-transition);
	}
	#app-mount .wrapper-2aW0bm .button-1ZiXG9:hover img,
	#app-mount .wrapper-2aW0bm .button-1ZiXG9:hover svg {
		transform: var(--hover-transform);
		color: #fff;
	}
	#app-mount .wrapper-2aW0bm .button-1ZiXG9:not(.dangerous-2r8KxV):hover {
		background: linear-gradient(var(--default-gradient));
		color: #fff;
	}
	#app-mount .wrapper-2aW0bm .button-1ZiXG9.dangerous-2r8KxV:hover {
		background: linear-gradient(var(--red-gradient));
		color: #fff;
	}

	#app-mount #status-picker .item-1tOPte.focused-3afm-j,
	#app-mount #status-picker .item-1tOPte:active {
		transition: var(--hover-transition);
	}
	#app-mount #status-picker .item-1tOPte.focused-3afm-j .statusItem-33LqPf svg foreignObject .status-1AY8sU,
	#app-mount #status-picker .item-1tOPte:active .statusItem-33LqPf svg foreignObject .status-1AY8sU {
		background: #fff !important;
	}
	#app-mount #status-picker .item-1tOPte.focused-3afm-j#status-picker-online,
	#app-mount #status-picker .item-1tOPte:active#status-picker-online {
		background: linear-gradient(var(--green-gradient));
	}
	#app-mount #status-picker .item-1tOPte.focused-3afm-j#status-picker-idle,
	#app-mount #status-picker .item-1tOPte:active#status-picker-idle {
		background: linear-gradient(var(--yellow-gradient));
	}
	#app-mount #status-picker .item-1tOPte.focused-3afm-j#status-picker-dnd,
	#app-mount #status-picker .item-1tOPte:active#status-picker-dnd {
		background: linear-gradient(var(--red-gradient));
	}
	#app-mount #status-picker .item-1tOPte.focused-3afm-j#status-picker-invisible,
	#app-mount #status-picker .item-1tOPte:active#status-picker-invisible {
		background: linear-gradient(var(--grey-gradient));
	}

	#app-mount .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
		transform: var(--transform-normal);
		transition: var(--hover-transition);
	}
	#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
		background: linear-gradient(var(--default-gradient));
	}
	#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 .homeIcon-tEMBK1 {
		transform: var(--hover-transform);
	}
	#app-mount .circleIconButton-jET_ig svg {
		transform: var(--transform-normal);
	}
	#app-mount .circleIconButton-jET_ig.selected-ugP_am {
		background: linear-gradient(var(--green-gradient));
	}
	#app-mount .circleIconButton-jET_ig.selected-ugP_am svg {
		transform: var(--hover-transform);
	}

	#app-mount .side-8zPYf6 .item-PXvHYJ {
		transform: var(--transform-normal);
		transition: var(--hover-transition);
	}
	#app-mount .side-8zPYf6 .item-PXvHYJ:hover {
		transform: var(--setting-hover-transform);
	}
	#app-mount .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha {
		background: linear-gradient(var(--default-gradient));
	}
	#app-mount .side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"]:active,
	#app-mount .side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"][aria-selected=true],
	#app-mount .side-8zPYf6 .item-PXvHYJ[aria-controls=GUILD_PREMIUM-tab]:active,
	#app-mount .side-8zPYf6 .item-PXvHYJ[aria-controls=GUILD_PREMIUM-tab][aria-selected=true] {
		background: linear-gradient(var(--special-gradient));
		color: #fff;
	}

	#app-mount .lookFilled-1Gx00P {
		transform: var(--transform-normal);
		transition: 0.15s linear;
	}
	#app-mount .lookFilled-1Gx00P:hover {
		transform: var(--button-hover-transform);
	}
	#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonActive-3FrkXp) {
		background: linear-gradient(var(--default-gradient));
	}
	#app-mount .lookFilled-1Gx00P.colorGrey-2DXtkV,
	#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
		background: linear-gradient(var(--grey-gradient));
	}
	#app-mount .lookFilled-1Gx00P.buttonColor-7qQbGO.disabled-158sUq {
		background: linear-gradient(var(--grey-gradient));
	}
	#app-mount .lookFilled-1Gx00P.buttonColor-7qQbGO.disabled-158sUq:hover {
		transform: var(--transform-normal);
	}
	#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY,
	#app-mount .lookFilled-1Gx00P.buttonActive-3FrkXp {
		background: linear-gradient(var(--green-gradient));
	}
	#app-mount .lookFilled-1Gx00P.colorYellow-2JqYwt {
		background: linear-gradient(var(--yellow-gradient));
	}
	#app-mount .lookFilled-1Gx00P.colorRed-1TFJan {
		background: linear-gradient(var(--red-gradient));
	}

	.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
	.embedFull-2tM8--,
	.wrapper-35wsBm,
	.message-2qnXI6 .imageWrapper-2p5ogY,
	.repliedMessage-VokQwo {
		background-color: var(--background-secondary);
		font-weight: 500;
		margin-left: 0 !important;
		margin-top: 4px !important;
		padding: 8px 12px !important;
		border-radius: 16px;
		border-top-left-radius: 0 !important;
		width: max-content;
		max-width: 80%;
		box-shadow: var(--elevation-low);
		overflow: visible !important;
		box-sizing: border-box;
	}
	.message-2qnXI6 .imageWrapper-2p5ogY {
		padding: 0 !important;
		max-width: 100% !important;
		overflow: hidden !important;
	}
	.message-2qnXI6:hover .messageContent-2qWWxC,
	.message-2qnXI6:hover .embedFull-2tM8--,
	.message-2qnXI6:hover .wrapper-35wsBm,
	.message-2qnXI6:hover .imageWrapper-2p5ogY {
		box-shadow: var(--elevation-medium) !important;
	}
	.message-2qnXI6 .wrapper-35wsBm {
		/* Invited to Server box */
		padding: 12px !important;
		width: 432px !important;
		background-color: var(--background-secondary-alt);
	}
	.theme-dark .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
	.theme-dark .embedFull-2tM8-- {
		background-color: var(--background-secondary);
		font-weight: 400;
	}

	.message-2qnXI6 {
		background: none !important;
	}
	.message-2qnXI6::before {
		content: unset !important;
	}
	.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
	.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
		background-color: var(--background-tertiary) !important;
	}
	.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
		background-color: var(--background-mentioned) !important;
		border-left: 2px solid #faa61a;
	}

	.theme-dark .message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
	.theme-dark .message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
		background-color: var(--background-secondary-alt) !important;
	}
	.embedFull-2tM8-- .grid-1nZz7S {
		padding: 0 4px;
		padding-bottom: 8px;
	}
	.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre {
		max-width: 100%;
	}
	.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
		background-color: var(--background-tertiary);
		border-radius: 0;
		border-radius: 16px;
		border-top-left-radius: 0 !important;
	}

	/* Replies */
	.repliedMessage-VokQwo {
		border-bottom-left-radius: 0 !important;
		margin-bottom: -4px !important;
		background-color: var(--background-secondary-alt);
		width: 100% !important;
		max-width: 60%;
	}
	.repliedMessage-VokQwo::before {
		content: unset !important;
	}
	.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
		width: 100% !important;
		border-top-right-radius: 0;
		max-width: 60%;
	}
	/* Cover reply border radius */
	.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
		content: "";
		position: absolute;
		bottom: 100%;
		right: 0;
		width: 16px;
		height: 16px;
		background-color: var(--background-secondary-alt);
		border-top-left-radius: 100%;
	}
	.message-2qnXI6 {
		display: flex;
		flex-direction: column;
	}
	.contents-2mQqc9 {
		display: contents;
	}
	.contents-2mQqc9 .header-23xsNx {
		order: -1;
	}
	.contents-2mQqc9 > span {
		order: -1;
	}
	.attachWrapper-2TRKBi {
		order: 1;
		margin-left: 10px;
	}
	.attachButton-2WznTc {
		padding-right: 10px
	}
	.buttons-3JBrkn {
		opacity: 0;
		transition: opacity 0.1s;
	}

	.channelTextArea-rNsIhG:hover .buttons-3JBrkn {
		opacity: 1.0;
	}
	.assetWrapper-3GNt0z > canvas,
	.assetWrapper-3GNt0z > img {

		visibility: hidden;
		height: 0px;
	}
	.assetWrapper-3GNt0z {
		height: auto !important;
	}
	.assetWrapper-3GNt0z:before {
		content: "There is a sticker here";
		color: white;
	}




	.guildSeparator-3s64Iy {
		display: none;
	}
	/* different looking member list roles */
	.container-2ax-kl span {
		display: none;
	}
	.container-2ax-kl:after {
		content: attr(aria-label);
	}
}
